<div class="container mx-auto p-8">
  <p class="text-2xl">
    <i class="fa-sharp fa-solid fa-server"></i> Backend Specifications:
  </p>
  <br />
  <div class="console">
    <p>$ Made whit NodeJS - NestJs</p>
    <p>$ NodeJs v-16.13.2 / npm v-8.1.2</p>
    <p>$ NestJs v-9.2.0</p>
  </div>
  <br />
  <p class="text-2xl">
    <i class="fa-sharp fa-solid fa-database"></i> Backend Endpoints:
  </p>
  <br />
  <div class="console">
    <p>$ Name: <i class="nameMethod">getCommits/:repository</i></p>
    <p>$ Endpoint: <i>http://localhost:3000/getCommits/:repository</i></p>
    <p>$ Method: <i>GET</i></p>
    <p>$ Description:</p>
    <i
      >Get all commits from a repository, :repository is the param to pass in
      url</i
    >
    <br />
    <br />
    <p>$ Name: <i class="nameMethod">getRepositories</i></p>
    <p>$ Endpoint: <i>http://localhost:3000/getRepositories</i></p>
    <p>$ Method: <i>GET</i></p>
    <p>$ Description:</p>
    <i>Get all repositories from the GitHub account of the user: leonardojap</i>
  </div>
</div>
